<<<<<<< HEAD
$primary:#1A1A1A;
$secondary:#373639;
$clear:#ffffff;
=======
$primary: #000000;
$secondary: #FB542B;
$clear: #ffffff;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282

*{
    padding: 0;
    margin: 0;
}

body {
    color: $clear;
    background: $secondary;
<<<<<<< HEAD
    font: 16px "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 120px;
=======
    font: 20px "Encode Sans Semi Expanded", Arial, Verdana; 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
}

.container {
    width: 95%;
    margin: 10px auto;
}

.banner {
    margin: 10px;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin-bottom: 10px;
    img {
        border-radius: 5px;
        width: 100%;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    & &-coluna{
        width: 20%;
        border: 1px solid $clear;
        border-radius: 10px;
        margin-bottom: 10px;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
}

h1 {
    color:#46A2C7;
    text-align: center;
}

h2{
    color:$clear;
    text-align: center;
}

<<<<<<< HEAD
.center{
    text-align: center;
}
=======
.flex-game {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #000;
    & &-imagem {
        box-shadow: 0 0 10px #000;
        width: 98%;
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px #000;
        }
    }
    & &-descricao {
        width: 98%;
    }
}

>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
.header {
    background: $primary;
    box-shadow: 0 0 10px #000000;
    width: 100%;
    position:fixed ;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    z-index: 9;
<<<<<<< HEAD
    & &-logo{
        float: left;
        img{
            width: 200px;
=======
    & &-logo {
        float: left;
        img {
            width: 150px;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
        }
    }
    & &-menu {
        float: right;
        border: 1px solid #ffffff;
        background: #ccc;
        padding: 5px;
        border-radius: 10px;
        img {
            width: 35px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
    & &-nav{
        width: 100%;
        display: none;
        ul{
            list-style: none;
            li{
                padding: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid $clear;
                a{
                    color: $clear;
                    text-decoration: none;
                }
            }
        }
    }
}

<<<<<<< HEAD
.show{
=======
.carousel-inner{
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #000;
}
.row{
    background: $primary;
    box-shadow: 0 0 10px #000;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}
.show {
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
    display: inline-block !important;
}

.footer{
    background: $primary;
<<<<<<< HEAD
    color: rgb(255, 255, 255);    //<----- cor dos texto
=======
    color: #00e1ff;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
}

@media (min-width: 480px) and(max-width: 1920px) {
    .header{
        & &-menu{
            display: none !important;
        }
        & &-nav{
            width: auto;
            display: block;
            float: right;
            ul{
                li{
                    display: inline-block;
                    border: 0;
                    padding: 20px;
<<<<<<< HEAD
                    a:hover{
                        color:#0D6EFD
=======
                    a:hover {
                        color: #fff;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
                    }
                }
            }
        }
    }
    .container{
        width: 1000px;
        margin: 30px auto;
    }
<<<<<<< HEAD
    .flex{
        & &-coluna{
=======
    .flex {
        & &-coluna {
            box-shadow: 0 0 10px #000;
>>>>>>> c845aa47842273b34f44ef982059e0de06ce2282
            width: 23%;
            margin: 6px;
        }
    }
    .flex-game {
        & &-imagem {
            width: 30%;
        }
        & &-descricao {
            width: 68%;
            margin: 10px;
            p {
                line-height: 25px;
                margin-bottom: 20px;
            }
        }
    }
}